<h3><%= members.count %> Order of the Pheonix Members for Gryffindor</h3>
<% members.each do |member|%>
    <p class="name"<%= member.name %></p>
    <p class="role"><%= member.role %></p>
    <p class="house"><%= member.house %></p>
    <p class="patronus"><%= member.patronus %></p>
    <% end %>
